:root{
    --white-color: #FFFFFF;
    --black-color: #000000;
    --black-red-color: #322E2E;
    --black-red-Chatvar-color: #37393F;
    --blue-superlight-color: #67769b;
    --blue-dark-color: #0E3D73;
    --blue-light-color: #1A6DCB;
    --blue-superdark-color: #222630;
    --gray-escuro-color: #3A3B41;
    --gray-escuro2-color: #2B2D31;
    
} 
